<p>game-board works!</p>
<table>
  <tr>
    <td id="Q1" onclick="selectBox()">
      <img width="300" id="A1"  >
    </td>
    <td id="Q2">
      Thing 2
      <img width="300" id="A2">
    </td>
    <td id="Q3">
      <img width="300" id="A3">
      3
    </td>
  </tr>
  <tr>
    <td id="W1">
      Thing 1
      <img width="300" id="B1" >
    </td>
    <td id="W2">
      Thing 2
      <img width="300" id="B2">
    </td>
    <td id="W3">
      <img width="300" id="B3">
      3
    </td>
  </tr>
  <tr>
    <td id="E1">
      Thing 1
      <img width="300" id="C1" >
    </td>
    <td id="E2">
      Thing 2
      <img width="300" id="C2">
    </td>
    <td id="E3">
      <img width="300" id="C3">
      3
    </td>
  </tr>
</table>
