<p>game-board works!</p>
<table>
  <tr>
    <td onclick="selectBox()">
      Thing 1
      <img width="300" id="A1" >
    </td>
    <td>
      Thing 2
      <img width="300" id="A2">
    </td>
    <td>
      <img width="300" id="A3">
      3
    </td>
  </tr>
  <tr>
    <td >
      Thing 1
      <img width="300" id="B1" >
    </td>
    <td>
      Thing 2
      <img width="300" id="B2">
    </td>
    <td>
      <img width="300" id="B3">
      3
    </td>
  </tr>
  <tr>
    <td>
      Thing 1
      <img width="300" id="C1" >
    </td>
    <td>
      Thing 2
      <img width="300" id="C2">
    </td>
    <td>
      <img width="300" id="C3">
      3
    </td>
  </tr>
</table>
